tqdm
hydra-core
omegaconf
opencv-python
scipy
onnxruntime
requests
trimesh
matplotlib
# torchvision==0.18.1
# numpy==1.26.1
opencv-python
scikit-learn
# torch==2.3.1+cu118
Pillow
huggingface_hub
einops
safetensors