[submodule "src/NeuS2"]
	path = src/NeuS2
	url = https://github.com/19reborn/NeuS2
[submodule "src/neuralangelo"]
	path = src/neuralangelo
	url = https://github.com/NVlabs/neuralangelo
[submodule "src/instant-ngp"]
	path = src/instant-ngp
	url = https://github.com/NVlabs/instant-ngp
[submodule "src/tiny-cuda-nn"]
	path = src/tiny-cuda-nn
	url = https://github.com/nvlabs/tiny-cuda-nn
[submodule "src/pytorch3d"]
	path = src/pytorch3d
	url = https://github.com/facebookresearch/pytorch3d.git
