data:
  type: projects.neuralangelo.data
  root: output/preprocessing/vggt
  name: transforms.json
  num_images: 138
  num_workers: 4
  preload: false
  use_multi_epoch_loader: true
  readjust:
    center:
    - 0.0
    - 0.0
    - 0.0
    scale: 0.5489564947842128
  train:
    batch_size: 1
    image_size:
    - 4160
    - 6240
    subset: null
  val:
    batch_size: 1
    image_size:
    - 2080
    - 3120
    subset: 1
    max_viz_samples: 16
model:
  type: projects.neuralangelo.model
  background:
    enabled: false
    white: true
    mlp:
      num_layers: 8
      hidden_dim: 256
      skip:
      - 4
      num_layers_rgb: 2
      hidden_dim_rgb: 128
      skip_rgb: []
      activ: relu
      activ_params: {}
      activ_density: softplus
      activ_density_params: {}
    view_dep: true
    encoding:
      type: fourier
      levels: 10
    encoding_view:
      type: spherical
      levels: 3
  object:
    sdf:
      encoding:
        type: hashgrid
        base_resolution: 16
        n_features_per_level: 2
        log2_hashmap_size: 22
        levels: 18
        hashgrid:
          min_logres: 5
          max_logres: 11
          dict_size: 22
          dim: 8
          range:
          - -2
          - 2
        max_logres: 13
        coarse2fine:
          enabled: true
          init_active_level: 8
          step: 500
      gradient:
        mode: numerical
        taps: 4
      mlp:
        activ: softplus
        activ_params:
          beta: 100
        hidden_dim: 256
        num_layers: 6
        skip:
        - 4
        checkpoint: true
        geometric_init: true
        weight_norm: true
        out_bias: 0.5
        inside_out: false
    rgb:
      mode: idr
      encoding_view:
        type: spherical
        levels: 4
      mlp:
        activ: relu_
        hidden_dim: 128
        num_layers: 4
        weight_norm: true
        inside_out: false
        activ_params: {}
        skip: []
    s_var:
      init_val: 3.0
      anneal_end: 0.1
  appear_embed:
    enabled: false
    dim: 8
  render:
    num_samples:
      coarse: 96
      fine: 48
      background: 0
    rand_rays: 2048
    stratified: true
    mask_background: true
    num_sample_hierarchy: 4
trainer:
  type: projects.neuralangelo.trainer
  ema_config:
    enabled: false
    beta: 0.9999
    start_iteration: 10100
    load_ema_checkpoint: false
  loss_weight:
    render: 1.0
    eikonal: 0.1
    curvature: 0.001
  init:
    type: none
  amp_config:
    enabled: true
    init_scale: 65536.0
  depth_vis_scale: 0.5
  grad_accum_iter: 2
  skip_initial_validation: true
optim:
  type: AdamW
  params:
    lr: 0.0005
    weight_decay: 0.01
  sched:
    iteration_mode: true
    type: two_steps_with_warmup
    warm_up_end: 10100
    two_steps:
    - 15000
    - 18000
    gamma: 10.0
max_iter: 20000
logging_iter: 100
wandb_scalar_iter: 100
wandb_image_iter: 10000
speed_benchmark: false
checkpoint:
  save_iter: 2000
  save_latest_iter: 500
validation_iter: 2000
image_save_iter: 9999999
